.breadcrumb {
    background-color: #007bff;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #fff;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #fff;
}
